<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8768a0b980.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/scss/style.css">
    <title>Groupomania</title>
</head>
<body id="app">
        <header>
            <h1><img src="./images/icon-left-groupomania-white.png" alt="Groupomania"></h1>
            <div class="profil">
                <h4>Profil</h4>
                <div class="profil_btn">
                    <button class="editProfil"><i class="fa-solid fa-pencil "></i></button>
                    <button class="deleteProfil"><i class="fa-solid fa-xmark fa-lg"></i></button>
                </div>
            </div>
        </header>
    <main>
        <form class="postForm">
            <div class="postForm_input">
              <label for="title">Post title:</label>
              <input type="text" name="title" id="title" maxlength="150" required placeholder="Enter your title here...">
            </div>
            <div class="postForm_input">
              <label for="content">Content: </label>
              <textarea name="content" id="content" maxlength="400" required placeholder="Enter your post here..."></textarea>
            </div>
            <div class="postForm_input">
              <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg">
            </div>
            <div class="postForm_input">
              <button class="postForm_btn"><i class="fa-solid fa-paper-plane fa-lg"></i></button>
            </div>
        </form>

        <section class="allPost">
            <article class="post" v-for="post of posts" :key="post.id">
                <div class="post_header">
                    <h4>{{post.user.userName}}</h4>
                    <div class="post_btn">
                        <button class="edit"><i class="fa-solid fa-pencil"></i></button>
                        <button class="delete"><i class="fa-solid fa-xmark fa-lg"></i></button>
                    </div>
                </div>

                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>

                <div class="commentForm">
                    <h4>Username</h4>
                    <div>
                    <textarea name="commentForm_input" id="comment_input" maxlength="280" required placeholder="Comment here..."></textarea>
                    <button class="commentForm_btn"><i class="fa-solid fa-comment fa-lg"></i></button>
                    </div>
                </div>

                <div class="comment"> <!--  <div class="comment" v-for="comment of comments"> ne fonctionne pas                    
                    <h4>{{post.comment.user.userName}}</h4>
                    <p>{{post.commment.content}}</p>--> 
                    <h4>Username</h4>
                    <p> this is a comment</p>
                    <div class="comment_btn">
                        <button class="edit"><i class="fa-solid fa-pencil"></i></button>
                        <button class="delete"><i class="fa-solid fa-xmark fa-lg"></i></button>
                    </div>        
                </div>

            </article>
        </section>
    </main>
    <footer>
        <img src="./images/icon-left-groupomania-white.png" alt="Groupomania">
        <ul>
            <li><a href="#">mention legal</a></li>
            <li><a href="mailto:admin@corpo.com">Contact</a></li>
        </ul>
    </footer>

<script src="https://unpkg.com/vue@3"></script>
<script>
    const apiData = {
        data(){
            return{
                group: 'Groupomania',
                posts:[],
            }
        },
        created(){
        fetch('http://localhost:3000/posts')
        .then((response) => response.json())
        .then((json) => {this.posts = json})
        },
    };
    const form ={
        dataForm(){
            return {
                name:'',
                city:'',
            }
        },
    }

    const app = Vue.createApp(apiData, form).mount('#app')
</script>
</body>
</html>