main{
    background-color: $secondary-color;
    padding: 3% 0%;
}

//// POST FORM ////
.postForm{
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;
    width: 33%;
    margin-left: 33%;
    border: solid 2px $highligth;
    border-radius: 20px;
    background-color: $primary-color;
    color: $secondary-color;
    &_input{
        width: 90%;
        padding: 2% 0%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        #title,#content{
            width: 100%;
        }
        
    }
}

//// POST ////
.allPost{
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    width: 60%;
    margin-left: 20%;
    padding: 5% 0%;
    
    h4{
        text-align: center;
        align-self: center;
        width: 15%;
        background-color: $secondary-color;
        border: solid 2px $highligth;
        color: darken($primary-color, 20%);
        margin: 2%;
        padding: 1%;
        border-radius: 20px;
    }
    .post{
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
        width: 100%;
        margin: 2% 0%;
        border-radius: 20px;
        border: solid 2px $highligth;
        background-color: $primary-color;
        color: $secondary-color;

        &_header{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 1% 4%;
            border-bottom:2px solid lighten($highligth, 30%);
            
            h4{
                text-align: center;
                align-self: center;
                width: 15%;
                background-color: $secondary-color;
                border: solid 2px $highligth;
                color: darken($primary-color, 20%);
                margin: 0.5%;
                padding: 1%;
                border-radius: 20px;
            }
        }
        h2{
            text-align: center;
            text-decoration: underline;
        }
        p{
            width: 90%;
            margin-left: 5%;
            padding: 2% 1%;
            border: 2px solid $secondary-color;
            border-radius: 20px;
        }
    }

    // COMMENT FORM //
    .commentForm{
        border-top: 2px solid lighten($highligth, 30%);

        div{
            display: flex;
            justify-content: space-around;
            flex-flow: row nowrap;
            align-content: center;
            padding-bottom: 2%;
        }
        #comment_input{
            width: 85%;
        }
        &_btn{
            align-items: center;
            width: auto;
            padding: 2%;
            border-radius: 30px;
        }
    }
    // COMMENT //
    .comment{
        border-top: 2px solid lighten($highligth, 30%);
        margin-bottom: 1%;

        .comment_btn{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            padding-bottom: 1%;
            margin-bottom: 1%;
            border-bottom: 2px solid lighten($highligth, 30%);
        }
    }
}

////////// MEDIA //////////
@media screen and (max-width:768px){

//// HEADER ////
    header{
        flex-flow: row wrap;
        justify-content: center;

        h1{
            margin: 0%;
            img{
                margin-bottom: 1%;
            }
        }
        .profil{
            margin: 2% 0%;
            width: 25%;
        }
    }

//// MAIN ////
    // POST FORM //
    .postForm{
        width: 90%;
        margin-left: 5%;
    }
    // ALL POST //
    
    .allPost{
        width: 96%;
        margin: auto 2%;

        h4{
            width: 33%;
        }
        .post_header{
            h4{
                width: 33%;
            }
        }
    }
    
}