.profilForm{
    background: $primary-color;
    color: white;
    padding: 5px;
    border-radius: 20px;
    border: solid 2px $highligth;
    width: 33%;
    margin: 5% 33%;
    
    &_input{
        margin: 5%;
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        text-align: center;
        label{
            width: 100%;
            padding-bottom: 2%;
        }
        .profilBackBtn{
            width: 33%;
            align-self: center;
            padding: 1%;
            font-weight: bold;
        }
    }
}
@media screen and (max-width:768px){
    .mainProfil{
       height: 80vh;
    }
    .profilForm{
        width: 80%;
        margin: 10%;
    }
}