//// BODY ////
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

//// ANCHOR ////
a{
    text-decoration: underline;
    color: black;
}
a:hover{
    color: $highligth;
}